%h1 Editing Tour Date

= error_messages_for :tour_date

- form_for(@tour_date) do |f| 
  %p
    %b Title
    %br/
    = f.text_field :title

  %p
    %b Date and Time
    %br/
    = f.datetime_select :show_date

  %p
    %b Location
    %br/
    = f.text_field :location

  %p
    %b Description
    %br/
    = f.text_area :description

  %p
    %b Address
    %br/
    = f.text_field :address

  %p
    %b Price ahead
    %br/
    = f.text_field :price_ahead

  %p
    %b Price door
    %br/
    = f.text_field :price_door

  %p
    = f.submit "Update"

= link_to 'Show', @tour_date
|
= link_to 'Back', tour_dates_path
