%p= link_to "&laquo; Back to Admin Panel", admin_home_url

%p Manage Photos

%p= link_to 'Upload a new photo', new_admin_photo_url

#sortable
  - for photo in @photos
    .photo{:id => "div_#{photo.id}"}
      = image_tag(photo.public_path(:thumbnail => {:size => "150x100", :crop => true}))
      .talignc= link_to "[delete]", admin_photo_url(photo), :method => :delete
  .clear

- content_for :header_js do
  = javascript_include_tag "jquery-1.3.2.min.js"
  = javascript_include_tag "jquery-ui-1.7.1.custom.min.js"
  :javascript
    $(function() {
      $('#sortable').sortable({
        update: function(event, ui) {
          $.get("#{update_positions_admin_photos_url}", $('#sortable').sortable('serialize'), function(data) {
            // do nothing
          });
        }
      });
    });

  
- content_for :header_css do
  %style{:type => "text/css"}
    :sass
      .photo
        img
          :margin 15px 5px 15px 5px
        :float left