%p  
  = link_to "&laquo; Back to Admin Panel", admin_home_url
  = link_to "&laquo; Manage Photos", admin_photos_url
%p Upload a New Photo

= error_messages_for :photo

- form_for(Photo.new, :url => admin_photos_url, :html => {:enctype => 'multipart/form-data'}) do |f|
  %p
    %b Upload Image
    %br/
    = f.file_field :file, :class => "text"
  .floatl{:style => "margin-right: 25px;"}
    %p
      %b Caption
      %br/
      = f.text_field :caption, :class => "text"

    %p
      %b Credit
      %br/
      = f.text_field :credit, :class => "text"
  .floatl
    %p
      %b Description
      %br/
      = f.text_area :description, :rows => "5", :cols => "45"
  .clear
  %p
    = f.submit "Create"
