<p>
  <b>Title:</b>
  <%=h @video.title %>
</p>

<p>
  <b>Embed:</b>
  <%=h @video.embed %>
</p>

<p>
  <b>Url:</b>
  <%=h @video.url %>
</p>


<%= link_to 'Edit', edit_video_path(@video) %> |
<%= link_to 'Back', videos_path %>
