= link_to image_tag("/images/structure/nav-home.jpg"), home_url
.spacer
= link_to image_tag("/images/structure/nav-news.jpg"), news_items_url
.spacer
= link_to image_tag("/images/structure/nav-tour.jpg"), tour_dates_url
.spacer
= link_to image_tag("/images/structure/nav-media.jpg"), media_url
.spacer
= link_to image_tag("/images/structure/nav-contact.jpg"), contact_url
.clear