  
%h3 Recent News

.home_news
  - for news_item in @news_items
    .news_item
      %span.date= news_item.created_at.strftime("%B %d, %Y")
      %span.title=h news_item.title
      .posted_by
        by
        =h news_item.author
        at
        = news_item.created_at.strftime("%I:%M %p")
      .body
        = truncate nl2br(news_item.body), 300
        %br/
        = link_to '(read more)', news_item
        - if logged_in?
          - if current_user.has_role?('administrator')
            %br/
            = link_to "(edit)", edit_news_item_path(news_item)
            = link_to "(delete)", news_item, :confirm => 'Are you sure?', :method => :delete
.home_releases
  %h4 Lunar Releases  
  .lunar_release
    .title
      August 16, 2008 - Just For A Moment
      = link_to "(lyrics)", {:controller => "/lyrics", :action => "JustForAMoment"}, :class => "tiny_link"
    .embed
      %embed{:src => "/swf/mediaplayer.swf", :width => "225", :height => "18", :allowscriptaccess => "always", :allowfullscreen => "true", :flashvars => "file=/play/just_for_a_moment_lo.mp3&autostart=true"}
  .lunar_release
    .title
      July 18, 2008 - America Spoke Up
      = link_to "(lyrics)", {:controller => "/lyrics", :action => "AmericaSpokeUp"}, :class => "tiny_link"
    .embed
      %embed{:src => "/swf/mediaplayer.swf", :width => "225", :height => "18", :allowscriptaccess => "always", :allowfullscreen => "true", :flashvars => "file=/play/america_spoke_up_lo.mp3&autostart=false"}
  .lunar_release
    .title
      June 18, 2008 - Saint Mark's Square
      = link_to "(lyrics)", {:controller => "/lyrics", :action => "SaintMarksSquare"}, :class => "tiny_link"
    .embed
      %embed{:src => "/swf/mediaplayer.swf", :width => "225", :height => "18", :allowscriptaccess => "always", :allowfullscreen => "true", :flashvars => "file=/play/st_marks_square_lo.mp3&autostart=false"}

.clear