.news-items
  %p.title Latest News

  - for news_item in NewsItem.recent
    .news-item
      .title= "#{news_item.created_at.strftime("%m/%e")} - #{news_item.title}"
      .info= "by #{news_item.author} at #{news_item.created_at.strftime("%I:%M %p")}"
      .body
        = news_item.body
        = link_to "(read more)", news_item
  .talignr= link_to "Past News...", news_items_url
  
.upcoming-shows
  %p.title Upcoming Shows
  
  - for tour_date in TourDate.recent
    .tour-date
      .venue= link_to tour_date.location, tour_date
      .date= tour_date.show_date.strftime("%m/%e")
  
.clear

- content_for :header_css do
  %style{:type => "text/css"}
    :sass
      .news-items
        :width 425px
        :float left
        .news-item
          .title
            :font-size 16px
          .info
            :font-size 10px
          .body
            :margin-top 10px
            :padding-bottom 10px
            :margin-bottom 15px
            :border-bottom dashed #858585 1px
      .upcoming-shows
        :text-align right
        :float left
        :width 295px
        :padding-left 5px
        .tour-date
          :margin-bottom 15px
          .venue
            a
              :font-size 16px