<p>
  <b>Position:</b>
  <%=h @you_tube_video.position %>
</p>

<p>
  <b>Title:</b>
  <%=h @you_tube_video.title %>
</p>

<p>
  <b>Embed code:</b>
  <%=h @you_tube_video.embed_code %>
</p>


<%= link_to 'Edit', edit_you_tube_video_path(@you_tube_video) %> |
<%= link_to 'Back', you_tube_videos_path %>
