.news-items
  %p.title Lunar News

  - for news_item in @news_items
    .news-item
      .title= "#{news_item.created_at.strftime("%m/%e")} - #{news_item.title}"
      .info= "by #{news_item.author} at #{news_item.created_at.strftime("%I:%M %p")}"
      .body
        = news_item.body
        = link_to "(read more)", news_item


- content_for :header_css do
  %style{:type => "text/css"}
    :sass
      .news-items
        .news-item
          .title
            :font-size 16px
          .info
            :font-size 10px
          .body
            :margin-top 10px
            :padding-bottom 10px
            :margin-bottom 15px
            :border-bottom dashed #858585 1px
