%h1 New News Item

%p= error_messages_for :news_item 

- form_for(@news_item) do |f|
  %p
    %b Title
    %br/
    = f.text_field :title, :class => "text"
  
  %p
    %b Author
    %br/
    = f.text_field :author, :class => "text"

  %p
    %b Body
    %br/
    = f.text_area :body, :rows => "7", :cols => "45"

  %p
    = f.submit "Create"

= link_to 'Back', news_items_path
