!!!

%html
  %head
    %title Lunar Sway Landing Site
    = stylesheet_link_tag "main"
    = javascript_include_tag "application"
    = javascript_include_tag "jquery/jquery-1.2.6.min.js"
    = javascript_include_tag "jquery/jquery.form.js"
    = javascript_include_tag "swfobject.js"
  
  %body
    #main_page
      #main_header
        = link_to image_tag("/images/structure/logo.png"), home_url
      #main_nav
        = link_to image_tag("/images/structure/nav/news.gif", :id => "nav_news"), news_url
        = link_to image_tag("/images/structure/nav/downloads.gif", :id => "nav_downloads"), downloads_url
        = link_to image_tag("/images/structure/nav/video.gif", :id => "nav_video"), video_url
        = link_to image_tag("/images/structure/nav/photos.gif", :id => "nav_photos"), photos_url
        = link_to image_tag("/images/structure/nav/biography.gif", :id => "nav_biography"), biography_url
        = link_to image_tag("/images/structure/nav/philosophy.gif", :id => "nav_philosophy"), philosophy_url
        = link_to image_tag("/images/structure/nav/links.gif", :id => "nav_links"), links_url
        = link_to image_tag("/images/structure/nav/tour.gif", :id => "nav_tour"), tour_url
        .clear
      #main_content
        .top_info
          .mailing_list_join.floatl
            - form_tag mailing_list_items_path, :id => 'mailing_list_form' do
              email:
              = text_field_tag "mailing_list_item[email]", "", :id => 'mailing_list_join'
              = submit_tag "join!"        
          #logged_in.floatr= render :partial => "/home/logged_in"
          .clear
        #content_box
          = @content_for_layout

  = javascript_tag "setupJoinMailingList();"
  :plain
    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      var pageTracker = _gat._getTracker("UA-4758466-1");
      pageTracker._initData();
      pageTracker._trackPageview();
    </script>          
