!!!

%html
  %head
    %title Lunar Sway Landing Site
    = stylesheet_link_tag "main"
    = yield :header_css

    = yield :header_js
    
  %body
    #main-nav
      .mailing-list= render :partial => "/home/join_mailing_list"
      .content= render :partial => "/home/nav"
      .clear
    #main-page
      .main-content
        .facebook= link_to image_tag("/images/structure/facebook.png"), "http://www.facebook.com/pages/Lunar-Sway/51020740023", :target => "_blank"
        .twitter= link_to image_tag("/images/structure/twitter.png"), "http://twitter.com/lunarsway", :target => "_blank"
        .myspace= link_to image_tag("/images/structure/myspace.png"), "http://www.myspace.com/lunarsway", :target => "_blank"
        .main-logo= image_tag "/images/structure/logo.png"
        .content
          .logged-in= render :partial => "/home/logged_in"
          = @content_for_layout
        .clear

  :javascript
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));

    var pageTracker = _gat._getTracker("UA-4758466-1");
    pageTracker._initData();
    pageTracker._trackPageview();
